<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body style="background-color:black" class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
<div style="float: left;position: absolute;width: 17%;height: 100%;background-image: url('https://cdn1.imggmi.com/uploads/2019/4/11/d2203b72714fb8a7dd3bfb31b287fff7-full.jpg');/* line-height: 9rem; */background-size: 100%;background-repeat: round;" class=""></div>  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
  </a>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Call History</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Purchase History</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:50px; margin-left: auto; margin-right: auto">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white" style="max-height:200px;max-width:400px;margin-top:0px">
        <div class="w3-container" style="margin-left: auto; margin-right: auto">

         <h4 class="w3-center"; name="//TODO"; id="now">Connected with Partner</h4>
         <p class="w3-center"><img src="https://cdn1.iconfinder.com/data/icons/business-users/512/circle-512.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p style="text-align:center;"><i class="fas fa-clock fa-fw"></i></p>
        </div>
      </div>
      <br>

      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1', 'now', 'now3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Pending Offer</button>
          <div id="Demo1" class="w3-hide w3-container"><br>
              <label class="form-check-label" ; for="materialUnchecked">Surf and stream with 99% reliability</label><br>
            <p><!-- Material unchecked -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">89.90 NIS per month.</label><br>
     <input type="checkbox" class="form-check-input" id="1">
    <label class="form-check-label" for="materialUnchecked">Free Netflix.</label><br>
       <input type="checkbox" class="form-check-input" id="2">
    <label class="form-check-label" for="materialUnchecked">First month for free!</label><br>
                     <input type="checkbox" class="form-check-input" id="3">
                  <label class="form-check-label" for="materialUnchecked">100 MB</label><br>
</div></p>
          </div>
          <div id="Demo2" class="w3-hide w3-container">
            <p><div class="row">
              <div class="column">

                <a href="on_click.html">
                <img src="https://pbs.twimg.com/profile_images/699521644684034048/AKopDzYk_400x400.png" style="float: left; width:20%;  padding: 5px;">
                </a>
              </div>
              <div class="column">
                  <a href="on_click.html">
                <img src="https://pbs.twimg.com/profile_images/1036849224091136000/1PlMDzaf_400x400.jpg"  style="float: left; width:20%;  padding: 5px;">
                 </a>
              </div>
              <div class="column">
                <a href="on_click.html">
                <img src="https://iecdigital.iec.co.il/images/logo-main.png"  style="float: left;width:20%;  padding: 5px;">
                  </a>
              </div>
            <div class="column">
              <a href="on_click.html">
                <img src="https://img.wcdn.co.il/f_auto,w_300,t_18/3/9/0/4/390418-46.jpg"  style="float: left;width:20%;  padding: 5px;">
                </a>
              </div>
             <div class="column">
               <a href="on_click.html">
                <img src="http://index-call.weebly.com/uploads/2/1/6/1/21617070/__9423435.png"  style="float: left;width:20%;  padding: 5px;">
                                </a>
              </div>
                           <img src="https://nuevasideasweb.es/wp-content/uploads/2017/12/icono-paypal-tarjetas.png" style="width:100%" >

            </div></p>
          </div>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
           </div>
         </div>

          </div>
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

    <!-- End Middle Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>

<script>
// Accordion

function myFunction(id, id2, id3) {
  var x = document.getElementById(id);
  var y = document.getElementById(id2);
  var z = document.getElementById(id3)
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
    var but11 = "<button type=\"submit\"  style=\"color:white; background-color: #21ba45; width: 140px;    border-radius: 5px; \" class=\"w3-center w3-button \">Accept</button>";
    var butt2 = "<button type=\"submit\" style=\"color:white; background-color: #db2828; width: 140px;    border-radius: 5px;   margin-left: 60px;\" class=\"w3-center w3-button \">Decline</button>"
    y.innerHTML = but11 + butt2;
    z.src = "https://pbs.twimg.com/profile_images/699521644684034048/AKopDzYk_400x400.png";







}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
